<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	
	<img th:src="@{/images/logo.png}" alt="Room-Service" style="margin-left: 615px; width: 375px; height: 125px">

	<h1>Please Insert Your Opportunity</h1>
    <form action="#" th:action="@{/addOpoortunity}" th:object="${opportunityForm}" method="post">
    	
    	<h3>Opportunity Details:</h3>
    	
    	<p>opportunityId: <input type="text" th:field="*{opportunityId}" /></p>
        <p>entityType: <input type="text" th:field="*{entityType}" /></p>
		<p>entityId: <input type="text" th:field="*{entityId}" /></p>
		
		<p>arrival: <input type="text" th:field="*{arrival}" /></p>
		<p>departure: <input type="text" th:field="*{departure}" /></p>
		<p>numOfNights: <input type="text" th:field="*{numOfNights}" readonly /></p>
		<p>adultsCount: <input type="text" th:field="*{adultsCount}" readonly /></p>
		<p>board: <input type="text" th:field="*{board}" /></p>
		
		<p>price: <input type="text" th:field="*{price}" /></p>
		<p>operator: <input type="text" th:field="*{operator}" /></p>
		<p>currency: <input type="text" th:field="*{currency}" /></p>
		<p>filter: <input type="text" th:field="*{filter}" readonly /></p>
		
		<p>countryCode: <input type="text" th:field="*{countryCode}" /></p>
		<p>defaultCurrency: <input type="text" th:field="*{defaultCurrency}" readonly /></p>
		<p>payAtTheHotel: <input type="text" th:field="*{payAtTheHotel}" readonly /></p>
		<p>showSpecialDeals: <input type="text" th:field="*{showSpecialDeals}" readonly /></p>
		<p>onRequest: <input type="text" th:field="*{onRequest}" readonly /></p>
		<p>getPackageRates: <input type="text" th:field="*{getPackageRates}" /></p>

		<p>active: <input type="text" th:field="*{active}" /></p>
 
		<!-- <select id="segmentoSel" class="form-control" th:field="*{operator}">
			<option value="">Select Operator:</option>
		    <option th:each="operator : ${T(com.roomservice.entity.Operator).values()}"
		            th:value="${operator}"
		            th:text="${operator}">
		    </option>
		</select> -->
		
		<h3>Hotel Connect (Push) Details:</h3>
		
		<p>push: <input type="text" th:field="*{push}" /></p>
		<p>hotelCode: <input type="text" th:field="*{pushInfo.hotelCode}" /></p>
		<p>bookingLimit: <input type="text" th:field="*{pushInfo.bookingLimit}" /></p>
		<p>invTypeCode: <input type="text" th:field="*{pushInfo.invTypeCode}" /></p>
		<p>ratePlanCode: <input type="text" th:field="*{pushInfo.ratePlanCode}" /></p>
		<p>price: <input type="text" th:field="*{pushInfo.price}" /></p>
		<p>status: <input type="text" th:field="*{pushInfo.status}" /></p>
		
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
